:root {
  primary: #434343;
  secondary: #DEDEDE;
  accent: #659275; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: sans-serif; }

img {
  width: 100%; }

.l-container,
[class*="l-container"] {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.l-container--full {
  max-width: 100%; }

.l-section {
  margin-top: 4em;
  margin-bottom: 4em; }

.l-container--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em; }

.banner {
  background: url("../img/fondo.jpg") center/cover no-repeat;
  padding-top: 5em;
  padding-bottom: 5em;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .banner {
      padding-top: 8em;
      padding-bottom: 8em; } }
  .banner::before {
    content: "";
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(130deg, #659275, #434343);
    opacity: .3; }
  .banner__copy {
    text-align: center;
    color: #fff;
    position: relative; }
    @media screen and (min-width: 1024px) {
      .banner__copy {
        text-align: left; } }
  .banner__title {
    font-size: 3.125em;
    line-height: 3.75em;
    margin-bottom: -1em; }
  .banner__subtitle {
    background: rgba(67, 67, 67, .9);
    padding: .5em 2em;
    display: table;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (min-width: 1024px) {
      .banner__subtitle {
        margin-left: 3em; } }

.img-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    .img-gallery {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 20px;
      grid-auto-flow: row dense;
      grid-auto-rows: 8em; } }
  .img-gallery__item {
    width: 47vw;
    height: 47vw; }
    @media screen and (min-width: 640px) {
      .img-gallery__item {
        width: 32vw;
        height: 32vw; } }
    @media screen and (min-width: 1024px) {
      .img-gallery__item {
        width: 100%;
        height: 100%; } }
    .img-gallery__item:nth-child(1) {
      -ms-grid-column-span: 6;
      grid-column: span 6;
      -ms-grid-row-span: 2;
      grid-row: span 2; }
    .img-gallery__item:nth-child(2) {
      -ms-grid-column: 7;
      -ms-grid-column-span: 3;
      grid-column: 7 / span 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1 / 2; }
    .img-gallery__item:nth-child(3) {
      -ms-grid-column: 7;
      -ms-grid-column-span: 3;
      grid-column: 7 / span 3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2 / 3; }
    .img-gallery__item:nth-child(4) {
      -ms-grid-column: 10;
      -ms-grid-column-span: 3;
      grid-column: 10 / span 3;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      grid-row: 1 / 3; }
    .img-gallery__item:nth-child(5) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
      grid-column: 1 / span 3;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3 / 4; }
    .img-gallery__item:nth-child(6) {
      -ms-grid-column: 4;
      -ms-grid-column-span: 6;
      grid-column: 4 / 10;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3 / 4; }
    .img-gallery__item:nth-child(7) {
      -ms-grid-column: 10;
      -ms-grid-column-span: 3;
      grid-column: 10 / 13;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3 / 4; }
    .img-gallery__item:nth-child(8) {
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1 / 3;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4 / 5; }
    .img-gallery__item:nth-child(9) {
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
      grid-column: 3 / 6;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4 / 5; }
    .img-gallery__item:nth-child(10) {
      -ms-grid-column: 6;
      -ms-grid-column-span: 3;
      grid-column: 6 / 9;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4 / 5; }
    .img-gallery__item:nth-child(11) {
      -ms-grid-column: 9;
      -ms-grid-column-span: 2;
      grid-column: 9 / 11;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4 / 5; }
    .img-gallery__item:nth-child(12) {
      -ms-grid-column: 11;
      -ms-grid-column-span: 2;
      grid-column: 11 / 13;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4 / 5; }
  .img-gallery__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.logo--main {
  display: block;
  margin: 2em auto;
  width: 100px;
  max-width: 20%; }

[class*='menu--'] {
  list-style: none;
  margin-top: 0;
  margin-bottom: 2em;
  padding-left: 0;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    [class*='menu--'] {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }

.menu__link {
  text-decoration: none;
  font-weight: 600;
  color: #434343; }
  .menu__link.active {
    color: #659275; }
  @media screen and (min-width: 1024px) {
    .menu__link {
      display: block;
      line-height: 2.5; } }

.menu--main {
  border-top: 1px solid #95989a;
  border-bottom: 1px solid #95989a; }

@media screen and (min-width: 1024px) {
  .menu--section {
    width: 60%;
    margin-left: auto;
    margin-right: auto; } }

.menu--section .active::after {
  content: "";
  display: block;
  margin-left: 25%;
  width: 50%;
  height: 2px;
  background: #659275; }

@media screen and (min-width: 1024px) {
  .menu--section .active {
    width: 140%;
    margin-left: -20%; } }

.section__title {
  text-align: center; }

.section__description {
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .section__description {
      width: 60%;
      margin-left: auto;
      margin-right: auto; } }

.about-container {
  background: url("../img/02.jpg") center/cover no-repeat;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  padding: 3em 0;
  position: relative; }
  .about-container:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #434343;
    opacity: .5; }

.about {
  position: relative;
  width: 80%;
  margin-left: 10%; }
  @media screen and (min-width: 1024px) {
    .about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .about__img {
    display: none; }
    @media screen and (min-width: 1024px) {
      .about__img {
        display: block;
        width: 700px; } }
  .about__description {
    background: rgba(101, 146, 117, .9);
    color: #FFF;
    padding: 1em;
    font-size: 1em;
    line-height: 1.25em;
    font-style: italic; }
    @media screen and (min-width: 1024px) {
      .about__description {
        width: 60%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        font-size: 1.25em;
        line-height: 1.875em;
        margin-left: -2em;
        padding: 2em; } }

.form input, .form textarea,
[class*="form--"] input,
[class*="form--"] textarea {
  width: 100%;
  display: block; }

.form input,
[class*="form--"] input {
  line-height: 3;
  padding-left: 1em; }

.form textarea,
[class*="form--"] textarea {
  padding: 1em; }

.form__item {
  margin-bottom: 2em; }

.form__submit {
  background: #659275;
  color: #fff;
  line-height: 3;
  border: 1px solid #434343;
  font-family: serif; }

.form--contact {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1024px) {
    .form--contact {
      width: 60%; } }

.icon {
  width: 30px; }

.social-networks a {
  margin-right: .5em; }

body {
  font-family: serif;
  font-size: 1.25em;
  line-height: 1.875em; }

h1,
.title1 {
  font-size: 2em;
  line-height: 2.5em; }
  @media screen and (min-width: 1024px) {
    h1,
    .title1 {
      font-size: 3.125em;
      line-height: 3.75em; } }

h2,
.title2 {
  font-size: 1.5625em;
  line-height: 1.875em; }
  @media screen and (min-width: 1024px) {
    h2,
    .title2 {
      font-size: 2em;
      line-height: 2.5em; } }

h3,
.title3 {
  font-size: 1.25em;
  line-height: 1.875em; }
  @media screen and (min-width: 1024px) {
    h3,
    .title3 {
      font-size: 1.5625em;
      line-height: 1.875em; } }

small,
.small {
  font-size: 1em;
  line-height: 1.25em; }

.smaller {
  font-size: 0.875em;
  line-height: 1.25em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  margin-top: 0;
  margin-bottom: 1em; }

.title2,
.title3 {
  margin-top: 1.5em;
  margin-bottom: 1em; }

.small,
.smaller {
  margin-top: 1em;
  margin-bottom: 1em; }

a {
  color: var(--accent); }

.footer {
  background: #434343;
  color: #DEDEDE;
  padding: 1.5em 0; }
  .footer a {
    color: #DEDEDE; }
