.contact
	h2.contact__title.section__title Contact
	p.contact__description.section__description
		| 	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

	form.form--contact
		input(type="text" name="name" id="name" placeholder="Nombres").form__item
		
		input(type="email" name="email" id="email" placeholder="Correo Electronico").form__item
		
		textarea(name="messege" id="messege" placeholder="Escribe tu mensaje" row="8").form__item
		
		input(type="submit" value="Contratame").form__item.form__submit
