.l-container--row
	.l-first Cesar Armas
	.l-last 
		.social-networks
			a(href="https://facebook.com/cesararmas96" target='__blank')
				img(src="img/facebook.svg" ).icon

			a(href="https://twitter.com/cesararmas96" target="__blank")
				img(src="img/twitter.svg").icon

			a(href="https://youtube.com/cesararmas96" target="__blank")
				img(src="img/youtube.svg").icon

