<DOCTYPE html>
html(lang='es')
	head
		title CSS Desde Cero - Poryecto Final
		meta(name="viewport" content="width=device-width, user-scalalble=no, initial-scale=1")
		link(rel="stylesheet" href="css/styles.css")

	body 
		header.l-container#header
			block header

		nav.l-container#nav
			block nav

		.banner-container.l-container--full#banner
			block banner

		.gallery-container.l-container.l-section#gallery
			block gallery

		.about-container.l-container--full#about
			block about

		.contact.l-container.l-section#contact
			block contact

		footer.footer.l-container--full
			block footer